*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: Consolas;
  font-size: 9px;
  margin: -15px 0 -20px;
  padding: 0;
  color: #333;
  font-weight: 300;
  line-height: 1.65;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

dl,
ol,
ul {
  margin-left: 0;
  padding-left: 1rem;
}

ul {
  margin-top: 0;
}

dd,
dt,
li {}

p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6rem;
}

@media print {
  a[href]:after {
    content: "" !important;
  }
}

.row ul {
  margin-left: 0;
}

.row ul > li {
  float: left;
  width: 25%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
