*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 9px;
  margin: -20px 0;
  padding: 0;
  color: #333;
  font-weight: 300;
  line-height: 1.65;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
}

a {
  color: #9b4dca;
  text-decoration: none;
}

dl,
ol,
ul {
}

ul {
}

dd,
dt,
li {}

dl,
ol,
p,
ul {}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {}

@media print {
  a[href]:after {
    content: "" !important;
  }
}

.row ul {
  list-style: circle;
  margin-left: 0;
}

.row ul > li {
  float: left;
  width: 33%;
  margin-left: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
